# Global
CONTAINER_NAME=home
WORKPATH=/path/to/project

# Servers Ports
NGINX_PORT=define
PHP_PORT=define

# DB Ports
MYSQL_PORT=3306
POSTGRES_PORT=5432
MONGO_PORT=27017
MAIL_DEV_PORT=port

# Database
DB_USERNAME=define
DB_PASSWORD=define
DB_NAME=define
MYSQL_ROOT_PASSWORD=root
MYSQL_ROOT_HOST=172.20.0.1

# Blackfire
BLACKFIRE_SERVER_ID=define
BLACKFIRE_SERVER_TOKEN=define
